<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="Queries">
      <section name="Query.0" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="LogFile" value="E:\logfile.txt" />
  </appSettings>

  <Queries>
    <Query.0>
      <add key="ConnectionString" value="Driver={MySQL ODBC 8.0 Unicode Driver}; Server=desktop; Data Source=fantasybaseball; Database=fantasybaseball; Port=3306; User=user; Password=clemson"/>
      <add key="Query" value="select Name, Position from fantasybaseball.players where Team = 'LAA'"/>
      <add key="MetricTree" value="SQLMonitor"/>
      <add key="MetricName" value="Angels Players"/>
      <add key="PreviousRowCount" value="0"/>
    </Query.0>
  </Queries>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

</configuration>